body {
    background-color: #f6f6f6;
}

h1 {
    color: #ecadbe;
    font-family: 'Parisienne', cursive;
    margin: 0;
    margin-top: 200px;
    font-size: 80px;
    text-align: center;
}

h2 {
    color: #d6d2d2;
    font-family: 'Tenor Sans', sans-serif;
    margin: 0;
    margin-top: -35px;
    font-size: 30px;
    text-align: right;
    text-shadow: 2px 2px 1px #aaa;
}

main {
    display: flex;
    justify-content: center;
}

main section {
    padding: 5px;
    width: 615px;
}

main section figure {
    margin: 0;
    display: flex;
    justify-content: end;
}

main section figure img {
    max-width: 400px;
    margin-top: -62px;
    margin-right: -94px;
    z-index: -1;
}